In [357]:
from dataclasses import dataclass

from keras.models import Sequential
from keras.layers import Dense, Input, Embedding, Dropout, BatchNormalization
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from tensorflow import keras
import xgboost as xgb

In [212]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

Training data has labels; test does not have labels.

In [213]:
train_raw = pd.read_csv('/kaggle/input/titanic/train.csv')
df = train_raw.copy()

In [214]:
train_raw

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [215]:
test_raw = pd.read_csv('/kaggle/input/titanic/test.csv')

In [216]:
test_raw

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

## Overall Plan
1. Quick survey of every column
2. Make a simple naive neural model, see how it performs
3. Try with XGBoost
4. Compare with NN model with embeddings
5. See how XGBoost performs with the embeddings I created

# Data Preprocessing

## Column Review
Here we'll do a quick review of all of the columns to determine how we want to handle each column.

### Pclass

In [217]:
df['Pclass'].unique()

array([3, 1, 2])

No missing data.  This is an ordinal field, where `1` is strictly better than `2` and `3`, but the native values are already sorted, so no special processing will be needed. We'll just use this one as a categorical variable and we're good.

## Name

In [218]:
list(df['Name'])

['Braund, Mr. Owen Harris',
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Heikkinen, Miss. Laina',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Allen, Mr. William Henry',
 'Moran, Mr. James',
 'McCarthy, Mr. Timothy J',
 'Palsson, Master. Gosta Leonard',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Saundercock, Mr. William Henry',
 'Andersson, Mr. Anders Johan',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Rice, Master. Eugene',
 'Williams, Mr. Charles Eugene',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'Fynney, Mr. Joseph J',
 'Beesley, Mr. Lawrence',
 'McGowan, Miss. Anna "Annie"',
 'Sloper, Mr. William Thompson',
 'Palsson, Miss. Torborg Danira',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Emir, Mr. Farred Chehab',
 'Fortune, Mr. Charles Alexander',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Todoroff, Mr. Lalio',
 'Uruchurtu, Don. Manuel E',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Glynn, Miss. Mary Agatha',
 'Wheadon, Mr. Edward H',
 'Meyer, Mr. Edgar Joseph',
 'Holverson, Mr. Alexander Oskar',
 'Mamee, Mr. Hanna',
 'Cann, Mr. Ernest Charles',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Kraeff, Mr. Theodor',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 'Rogers, Mr. William John',
 'Lennon, Mr. Denis',
 "O'Driscoll, Miss. Bridget",
 'Samaan, Mr. Youssef',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Panula, Master. Juha Niilo',
 'Nosworthy, Mr. Richard Cater',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Ostby, Mr. Engelhart Cornelius',
 'Woolner, Mr. Hugh',
 'Rugg, Miss. Emily',
 'Novel, Mr. Mansouer',
 'West, Miss. Constance Mirium',
 'Goodwin, Master. William Frederick',
 'Sirayanian, Mr. Orsen',
 'Icard, Miss. Amelie',
 'Harris, Mr. Henry Birkhardt',
 'Skoog, Master. Harald',
 'Stewart, Mr. Albert A',
 'Moubarek, Master. Gerios',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Crease, Mr. Ernest James',
 'Andersson, Miss. Erna Alexandra',
 'Kink, Mr. Vincenz',
 'Jenkin, Mr. Stephen Curnow',
 'Goodwin, Miss. Lillian Amy',
 'Hood, Mr. Ambrose Jr',
 'Chronopoulos, Mr. Apostolos',
 'Bing, Mr. Lee',
 'Moen, Mr. Sigurd Hansen',
 'Staneff, Mr. Ivan',
 'Moutal, Mr. Rahamin Haim',
 'Caldwell, Master. Alden Gates',
 'Dowdell, Miss. Elizabeth',
 'Waelens, Mr. Achille',
 'Sheerlinck, Mr. Jan Baptist',
 'McDermott, Miss. Brigdet Delia',
 'Carrau, Mr. Francisco M',
 'Ilett, Miss. Bertha',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Ford, Mr. William Neal',
 'Slocovski, Mr. Selman Francis',
 'Fortune, Miss. Mabel Helen',
 'Celotti, Mr. Francesco',
 'Christmann, Mr. Emil',
 'Andreasson, Mr. Paul Edvin',
 'Chaffee, Mr. Herbert Fuller',
 'Dean, Mr. Bertram Frank',
 'Coxon, Mr. Daniel',
 'Shorney, Mr. Charles Joseph',
 'Goldschmidt, Mr. George B',
 'Greenfield, Mr. William Bertram',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Kantor, Mr. Sinai',
 'Petranec, Miss. Matilda',
 'Petroff, Mr. Pastcho ("Pentcho")',
 'White, Mr. Richard Frasar',
 'Johansson, Mr. Gustaf Joel',
 'Gustafsson, Mr. Anders Vilhelm',
 'Mionoff, Mr. Stoytcho',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moss, Mr. Albert Johan',
 'Rekic, Mr. Tido',
 'Moran, Miss. Bertha',
 'Porter, Mr. Walter Chamberlain',
 'Zabour, Miss. Hileni',
 'Barton, Mr. David John',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Pekoniemi, Mr. Edvard',
 'Connors, Mr. Patrick',
 'Turpin, Mr. William John Robert',
 'Baxter, Mr. Quigg Edmond',
 'Andersson, Miss. Ellis Anna Maria',
 'Hickman, Mr. Stanley George',
 'Moore, Mr. Leonard Charles',
 'Nasser, Mr. Nicholas',
 'Webber, Miss. Susan',
 'White, Mr. Percival Wayland',
 'Nicola-Yarred, Master. Elias',
 'McMahon, Mr. Martin',
 'Madsen, Mr. Fridtjof Arne',
 'Peter, Miss. Anna',
 'Ekstrom, Mr. Johan',
 'Drazenoic, Mr. Jozef',
 'Coelho, Mr. Domingos Fernandeo',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Sobey, Mr. Samuel James Hayden',
 'Richard, Mr. Emile',
 'Newsom, Miss. Helen Monypeny',
 'Futrelle, Mr. Jacques Heath',
 'Osen, Mr. Olaf Elon',
 'Giglio, Mr. Victor',
 'Boulos, Mrs. Joseph (Sultana)',
 'Nysten, Miss. Anna Sofia',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Burke, Mr. Jeremiah',
 'Andrew, Mr. Edgardo Samuel',
 'Nicholls, Mr. Joseph Charles',
 'Andersson, Mr. August Edvard ("Wennerstrom")',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Navratil, Mr. Michel ("Louis M Hoffman")',
 'Byles, Rev. Thomas Roussel Davids',
 'Bateman, Rev. Robert James',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Meo, Mr. Alfonzo',
 'van Billiard, Mr. Austin Blyler',
 'Olsen, Mr. Ole Martin',
 'Williams, Mr. Charles Duane',
 'Gilnagh, Miss. Katherine "Katie"',
 'Corn, Mr. Harry',
 'Smiljanic, Mr. Mile',
 'Sage, Master. Thomas Henry',
 'Cribb, Mr. John Hatfield',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Bengtsson, Mr. John Viktor',
 'Calic, Mr. Jovo',
 'Panula, Master. Eino Viljami',
 'Goldsmith, Master. Frank John William "Frankie"',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'Baumann, Mr. John D',
 'Ling, Mr. Lee',
 'Van der hoef, Mr. Wyckoff',
 'Rice, Master. Arthur',
 'Johnson, Miss. Eleanor Ileen',
 'Sivola, Mr. Antti Wilhelm',
 'Smith, Mr. James Clinch',
 'Klasen, Mr. Klas Albin',
 'Lefebre, Master. Henry Forbes',
 'Isham, Miss. Ann Elizabeth',
 'Hale, Mr. Reginald',
 'Leonard, Mr. Lionel',
 'Sage, Miss. Constance Gladys',
 'Pernot, Mr. Rene',
 'Asplund, Master. Clarence Gustaf Hugo',
 'Becker, Master. Richard F',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'Rood, Mr. Hugh Roscoe',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
 'Bourke, Mr. John',
 'Turcin, Mr. Stjepan',
 'Pinsky, Mrs. (Rosa)',
 'Carbines, Mr. William',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Navratil, Master. Michel M',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Lurette, Miss. Elise',
 'Mernagh, Mr. Robert',
 'Olsen, Mr. Karl Siegwart Andreas',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Vande Walle, Mr. Nestor Cyriel',
 'Sage, Mr. Frederick',
 'Johanson, Mr. Jakob Alfred',
 'Youseff, Mr. Gerious',
 'Cohen, Mr. Gurshon "Gus"',
 'Strom, Miss. Telma Matilda',
 'Backstrom, Mr. Karl Alfred',
 'Albimona, Mr. Nassef Cassem',
 'Carr, Miss. Helen "Ellen"',
 'Blank, Mr. Henry',
 'Ali, Mr. Ahmed',
 'Cameron, Miss. Clear Annie',
 'Perkin, Mr. John Henry',
 'Givard, Mr. Hans Kristensen',
 'Kiernan, Mr. Philip',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Jacobsohn, Mr. Sidney Samuel',
 'Bazzani, Miss. Albina',
 'Harris, Mr. Walter',
 'Sunderland, Mr. Victor Francis',
 'Bracken, Mr. James H',
 'Green, Mr. George Henry',
 'Nenkoff, Mr. Christo',
 'Hoyt, Mr. Frederick Maxfield',
 'Berglund, Mr. Karl Ivar Sven',
 'Mellors, Mr. William John',
 'Lovell, Mr. John Hall ("Henry")',
 'Fahlstrom, Mr. Arne Jonas',
 'Lefebre, Miss. Mathilde',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Larsson, Mr. Bengt Edvin',
 'Sjostedt, Mr. Ernst Adolf',
 'Asplund, Miss. Lillian Gertrud',
 'Leyson, Mr. Robert William Norman',
 'Harknett, Miss. Alice Phoebe',
 'Hold, Mr. Stephen',
 'Collyer, Miss. Marjorie "Lottie"',
 'Pengelly, Mr. Frederick William',
 'Hunt, Mr. George Henry',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Coleridge, Mr. Reginald Charles',
 'Maenpaa, Mr. Matti Alexanteri',
 'Attalah, Mr. Sleiman',
 'Minahan, Dr. William Edward',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Hamalainen, Mrs. William (Anna)',
 'Beckwith, Mr. Richard Leonard',
 'Carter, Rev. Ernest Courtenay',
 'Reed, Mr. James George',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Stead, Mr. William Thomas',
 'Lobb, Mr. William Arthur',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Parrish, Mrs. (Lutie Davis)',
 'Smith, Mr. Thomas',
 'Asplund, Master. Edvin Rojj Felix',
 'Taussig, Mr. Emil',
 'Harrison, Mr. William',
 'Henry, Miss. Delia',
 'Reeves, Mr. David',
 'Panula, Mr. Ernesti Arvid',
 'Persson, Mr. Ernst Ulrik',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Bissette, Miss. Amelia',
 'Cairns, Mr. Alexander',
 'Tornquist, Mr. William Henry',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Natsch, Mr. Charles H',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Parkes, Mr. Francis "Frank"',
 'Rice, Master. Eric',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Duane, Mr. Frank',
 'Olsson, Mr. Nils Johan Goransson',
 'de Pelsmaeker, Mr. Alfons',
 'Dorking, Mr. Edward Arthur',
 'Smith, Mr. Richard William',
 'Stankovic, Mr. Ivan',
 'de Mulder, Mr. Theodore',
 'Naidenoff, Mr. Penko',
 'Hosono, Mr. Masabumi',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Levy, Mr. Rene Jacques',
 'Haas, Miss. Aloisia',
 'Mineff, Mr. Ivan',
 'Lewy, Mr. Ervin G',
 'Hanna, Mr. Mansour',
 'Allison, Miss. Helen Loraine',
 'Saalfeld, Mr. Adolphe',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'McCoy, Mr. Bernard',
 'Johnson, Mr. William Cahoone Jr',
 'Keane, Miss. Nora A',
 'Williams, Mr. Howard Hugh "Harry"',
 'Allison, Master. Hudson Trevor',
 'Fleming, Miss. Margaret',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Abelson, Mr. Samuel',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Hendekovic, Mr. Ignjac',
 'Hart, Mr. Benjamin',
 'Nilsson, Miss. Helmina Josefina',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Moraweck, Dr. Ernest',
 'Wick, Miss. Mary Natalie',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Dennis, Mr. Samuel',
 'Danoff, Mr. Yoto',
 'Slayter, Miss. Hilda Mary',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Sage, Mr. George John Jr',
 'Young, Miss. Marie Grice',
 'Nysveen, Mr. Johan Hansen',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Partner, Mr. Austen',
 'Graham, Mr. George Edward',
 'Vander Planke, Mr. Leo Edmondus',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Denkoff, Mr. Mitto',
 'Pears, Mr. Thomas Clinton',
 'Burns, Miss. Elizabeth Margaret',
 'Dahl, Mr. Karl Edwart',
 'Blackwell, Mr. Stephen Weart',
 'Navratil, Master. Edmond Roger',
 'Fortune, Miss. Alice Elizabeth',
 'Collander, Mr. Erik Gustaf',
 'Sedgwick, Mr. Charles Frederick Waddington',
 'Fox, Mr. Stanley Hubert',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Coutts, Master. William Loch "William"',
 'Dimic, Mr. Jovan',
 'Odahl, Mr. Nils Martin',
 'Williams-Lambert, Mr. Fletcher Fellows',
 'Elias, Mr. Tannous',
 'Arnold-Franchi, Mr. Josef',
 'Yousif, Mr. Wazli',
 'Vanden Steen, Mr. Leo Peter',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Skoog, Mr. Wilhelm',
 'del Carlo, Mr. Sebastiano',
 'Barbara, Mrs. (Catherine David)',
 'Asim, Mr. Adola',
 "O'Brien, Mr. Thomas",
 'Adahl, Mr. Mauritz Nils Martin',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Jermyn, Miss. Annie',
 'Aubart, Mme. Leontine Pauline',
 'Harder, Mr. George Achilles',
 'Wiklund, Mr. Jakob Alfred',
 'Beavan, Mr. William Thomas',
 'Ringhini, Mr. Sante',
 'Palsson, Miss. Stina Viola',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Landergren, Miss. Aurora Adelia',
 'Widener, Mr. Harry Elkins',
 'Betros, Mr. Tannous',
 'Gustafsson, Mr. Karl Gideon',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Tikkanen, Mr. Juho',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Plotcharsky, Mr. Vasil',
 'Davies, Mr. Charles Henry',
 'Goodwin, Master. Sidney Leonard',
 'Buss, Miss. Kate',
 'Sadlier, Mr. Matthew',
 'Lehmann, Miss. Bertha',
 'Carter, Mr. William Ernest',
 'Jansson, Mr. Carl Olof',
 'Gustafsson, Mr. Johan Birger',
 'Newell, Miss. Marjorie',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Johansson, Mr. Erik',
 'Olsson, Miss. Elina',
 'McKane, Mr. Peter David',
 'Pain, Dr. Alfred',
 'Trout, Mrs. William H (Jessie L)',
 'Niskanen, Mr. Juha',
 'Adams, Mr. John',
 'Jussila, Miss. Mari Aina',
 'Hakkarainen, Mr. Pekka Pietari',
 'Oreskovic, Miss. Marija',
 'Gale, Mr. Shadrach',
 'Widegren, Mr. Carl/Charles Peter',
 'Richards, Master. William Rowe',
 'Birkeland, Mr. Hans Martin Monsen',
 'Lefebre, Miss. Ida',
 'Sdycoff, Mr. Todor',
 'Hart, Mr. Henry',
 'Minahan, Miss. Daisy E',
 'Cunningham, Mr. Alfred Fleming',
 'Sundman, Mr. Johan Julian',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Silven, Miss. Lyyli Karoliina',
 'Matthews, Mr. William John',
 'Van Impe, Miss. Catharina',
 'Gheorgheff, Mr. Stanio',
 'Charters, Mr. David',
 'Zimmerman, Mr. Leo',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Rosblom, Mr. Viktor Richard',
 'Wiseman, Mr. Phillippe',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Flynn, Mr. James',
 'Pickard, Mr. Berk (Berk Trembisky)',
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Kallio, Mr. Nikolai Erland',
 'Silvey, Mr. William Baird',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Fortune, Mr. Mark',
 'Kvillner, Mr. Johan Henrik Johannesson',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Hampe, Mr. Leon',
 'Petterson, Mr. Johan Emil',
 'Reynaldo, Ms. Encarnacion',
 'Johannesen-Bratthammer, Mr. Bernt',
 'Dodge, Master. Washington',
 'Mellinger, Miss. Madeleine Violet',
 'Seward, Mr. Frederic Kimber',
 'Baclini, Miss. Marie Catherine',
 'Peuchen, Major. Arthur Godfrey',
 'West, Mr. Edwy Arthur',
 'Hagland, Mr. Ingvald Olai Olsen',
 'Foreman, Mr. Benjamin Laventall',
 'Goldenberg, Mr. Samuel L',
 'Peduzzi, Mr. Joseph',
 'Jalsevac, Mr. Ivan',
 'Millet, Mr. Francis Davis',
 'Kenyon, Mrs. Frederick R (Marion)',
 'Toomey, Miss. Ellen',
 "O'Connor, Mr. Maurice",
 'Anderson, Mr. Harry',
 'Morley, Mr. William',
 'Gee, Mr. Arthur H',
 'Milling, Mr. Jacob Christian',
 'Maisner, Mr. Simon',
 'Goncalves, Mr. Manuel Estanslas',
 'Campbell, Mr. William',
 'Smart, Mr. John Montgomery',
 'Scanlan, Mr. James',
 'Baclini, Miss. Helene Barbara',
 'Keefe, Mr. Arthur',
 'Cacic, Mr. Luka',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Strandberg, Miss. Ida Sofia',
 'Clifford, Mr. George Quincy',
 'Renouf, Mr. Peter Henry',
 'Braund, Mr. Lewis Richard',
 'Karlsson, Mr. Nils August',
 'Hirvonen, Miss. Hildur E',
 'Goodwin, Master. Harold Victor',
 'Frost, Mr. Anthony Wood "Archie"',
 'Rouse, Mr. Richard Henry',
 'Turkula, Mrs. (Hedwig)',
 'Bishop, Mr. Dickinson H',
 'Lefebre, Miss. Jeannie',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Kent, Mr. Edward Austin',
 'Somerton, Mr. Francis William',
 'Coutts, Master. Eden Leslie "Neville"',
 'Hagland, Mr. Konrad Mathias Reiersen',
 'Windelov, Mr. Einar',
 'Molson, Mr. Harry Markland',
 'Artagaveytia, Mr. Ramon',
 'Stanley, Mr. Edward Roland',
 'Yousseff, Mr. Gerious',
 'Eustis, Miss. Elizabeth Mussey',
 'Shellard, Mr. Frederick William',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Svensson, Mr. Olof',
 'Calic, Mr. Petar',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Penasco y Castellana, Mr. Victor de Satode',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Bradley, Mr. George ("George Arthur Brayton")',
 'Olsen, Mr. Henry Margido',
 'Lang, Mr. Fang',
 'Daly, Mr. Eugene Patrick',
 'Webber, Mr. James',
 'McGough, Mr. James Robert',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Coleff, Mr. Satio',
 'Walker, Mr. William Anderson',
 'Lemore, Mrs. (Amelia Milley)',
 'Ryan, Mr. Patrick',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Pavlovic, Mr. Stefo',
 'Perreault, Miss. Anne',
 'Vovk, Mr. Janko',
 'Lahoud, Mr. Sarkis',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Kassem, Mr. Fared',
 'Farrell, Mr. James',
 'Ridsdale, Miss. Lucy',
 'Farthing, Mr. John',
 'Salonen, Mr. Johan Werner',
 'Hocking, Mr. Richard George',
 'Quick, Miss. Phyllis May',
 'Toufik, Mr. Nakli',
 'Elias, Mr. Joseph Jr',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'Butt, Major. Archibald Willingham',
 'LeRoy, Miss. Bertha',
 'Risien, Mr. Samuel Beard',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Beane, Mr. Edward',
 'Douglas, Mr. Walter Donald',
 'Nicholson, Mr. Arthur Ernest',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Padro y Manent, Mr. Julian',
 'Goldsmith, Mr. Frank John',
 'Davies, Master. John Morgan Jr',
 'Thayer, Mr. John Borland Jr',
 'Sharp, Mr. Percival James R',
 "O'Brien, Mr. Timothy",
 'Leeni, Mr. Fahim ("Philip Zenni")',
 'Ohman, Miss. Velin',
 'Wright, Mr. George',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Robbins, Mr. Victor',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Morrow, Mr. Thomas Rowan',
 'Sivic, Mr. Husein',
 'Norman, Mr. Robert Douglas',
 'Simmons, Mr. John',
 'Meanwell, Miss. (Marion Ogden)',
 'Davies, Mr. Alfred J',
 'Stoytcheff, Mr. Ilia',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Doharr, Mr. Tannous',
 'Jonsson, Mr. Carl',
 'Harris, Mr. George',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Flynn, Mr. John Irwin ("Irving")',
 'Kelly, Miss. Mary',
 'Rush, Mr. Alfred George John',
 'Patchett, Mr. George',
 'Garside, Miss. Ethel',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Jussila, Mr. Eiriik',
 'Christy, Miss. Julie Rachel',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Downton, Mr. William James',
 'Ross, Mr. John Hugo',
 'Paulner, Mr. Uscher',
 'Taussig, Miss. Ruth',
 'Jarvis, Mr. John Denzil',
 'Frolicher-Stehli, Mr. Maxmillian',
 'Gilinski, Mr. Eliezer',
 'Murdlin, Mr. Joseph',
 'Rintamaki, Mr. Matti',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Elsbury, Mr. William James',
 'Bourke, Miss. Mary',
 'Chapman, Mr. John Henry',
 'Van Impe, Mr. Jean Baptiste',
 'Leitch, Miss. Jessie Wills',
 'Johnson, Mr. Alfred',
 'Boulos, Mr. Hanna',
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Slabenoff, Mr. Petco',
 'Harrington, Mr. Charles H',
 'Torber, Mr. Ernst William',
 'Homer, Mr. Harry ("Mr E Haven")',
 'Lindell, Mr. Edvard Bengtsson',
 'Karaic, Mr. Milan',
 'Daniel, Mr. Robert Williams',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Shutes, Miss. Elizabeth W',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Jardin, Mr. Jose Neto',
 'Murphy, Miss. Margaret Jane',
 'Horgan, Mr. John',
 'Brocklebank, Mr. William Alfred',
 'Herman, Miss. Alice',
 'Danbom, Mr. Ernst Gilbert',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Becker, Miss. Marion Louise',
 'Gavey, Mr. Lawrence',
 'Yasbeck, Mr. Antoni',
 'Kimball, Mr. Edwin Nelson Jr',
 'Nakid, Mr. Sahid',

There is a little bit of extra information in here.  For the women, we can see if they are married or not.  Also some people have nicknames; it's possible that can correlate with survival but I'm going to ignore that for now.

## Age

In [219]:
df['Age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

This column is going to require some special handling.
* For infants, age is fractional
* If age is unknown, then it's estimated as xx.5
* There are some unknown ages (nan).

In [220]:
def age_processor(df):
    df['age_known'] = (df.Age < 1) | (df.Age == np.floor(df.Age))
    # People with an age > 1 and a fraction of 0.5, their age is estimated.
    df['adjusted_age'] = np.where(df.age_known, df.Age, np.floor(df.Age))
    default_age = df[df.age_known].adjusted_age.mean()
    df['adjusted_age'] = np.where(df.adjusted_age.isna(), default_age, df.adjusted_age)
    return df

In [221]:
df = age_processor(train_raw.copy())
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_known,adjusted_age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True,35.000000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,True,27.000000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,True,19.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False,29.554842
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True,26.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,True,32.000000

In [222]:
df[df.age_known].adjusted_age.mean()

29.554841954022987

In [223]:
df[~df.age_known]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_known,adjusted_age
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,False,29.554842
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,False,29.554842
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,False,29.554842
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,False,29.554842
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,False,29.554842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,False,29.554842
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,False,29.554842
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,False,29.554842
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,False,29.554842
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False,29.554842

## SibSp, Parch
Looks ok; not thinking of any changes I want to make to these columns right now.

In [224]:
df['SibSp'].unique()

array([1, 0, 3, 4, 2, 5, 8])

In [225]:
df['Parch'].unique()

array([0, 1, 2, 5, 3, 4, 6])

## Ticket

In [226]:
df['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

There could be some useful data in here.  Let's find the unique tokens.

In [227]:
tokens = set()
numerics = set()
for t in df['Ticket'].unique():
    t = t.upper()
    t = t.replace('.','')
    parts = t.split(' ')
    for part in parts:
        if part.isnumeric():
            numerics.add(int(part))
            continue
        tokens.add(part)

In [228]:
sorted(tokens)

['A/4',
 'A/5',
 'A/S',
 'A4',
 'A5',
 'BASLE',
 'C',
 'CA',
 'CA/SOTON',
 'FA',
 'FC',
 'FCC',
 'LINE',
 'P/PP',
 'PC',
 'PP',
 'SC',
 'SC/A4',
 'SC/AH',
 'SC/PARIS',
 'SCO/W',
 'SO/C',
 'SO/PP',
 'SOC',
 'SOP',
 'SOTON/O2',
 'SOTON/OQ',
 'SP',
 'STON/O',
 'STON/O2',
 'SW/PP',
 'W/C',
 'WE/P',
 'WEP']

In [229]:
sorted(numerics)

[2,
 3,
 541,
 693,
 695,
 751,
 752,
 851,
 1166,
 1585,
 1601,
 1748,
 2003,
 2079,
 2123,
 2131,
 2133,
 2144,
 2146,
 2149,
 2151,
 2152,
 2163,
 2167,
 2223,
 2314,
 2315,
 2343,
 2466,
 2620,
 2623,
 2624,
 2625,
 2626,
 2627,
 2628,
 2629,
 2631,
 2641,
 2647,
 2648,
 2649,
 2650,
 2651,
 2653,
 2659,
 2661,
 2662,
 2663,
 2664,
 2665,
 2666,
 2667,
 2668,
 2669,
 2671,
 2672,
 2673,
 2674,
 2677,
 2678,
 2680,
 2683,
 2685,
 2686,
 2687,
 2689,
 2690,
 2691,
 2693,
 2694,
 2695,
 2697,
 2699,
 2700,
 2816,
 2817,
 2908,
 2926,
 3085,
 3235,
 3336,
 3337,
 3381,
 3411,
 3460,
 3464,
 3474,
 3536,
 3540,
 3594,
 3902,
 4001,
 4133,
 4134,
 4135,
 4136,
 4137,
 4138,
 4348,
 4579,
 5547,
 5727,
 5734,
 5735,
 6212,
 6563,
 6607,
 6608,
 6609,
 7075,
 7076,
 7077,
 7267,
 7534,
 7540,
 7545,
 7546,
 7552,
 7553,
 7598,
 8471,
 8475,
 9234,
 9549,
 10482,
 11206,
 11668,
 11751,
 11752,
 11753,
 11755,
 11765,
 11767,
 11769,
 11771,
 11774,
 11813,
 11967,
 12233,
 12460,
 12749,
 12750,
 13032,
 13049,
 13213,
 13214,
 13502,
 13507,
 13509,
 13528,
 13529,
 13531,
 13567,
 13568,
 14208,
 14258,
 14263,
 14311,
 14312,
 14313,
 14879,
 14885,
 14973,
 16966,
 16988,
 17248,
 17318,
 17369,
 17421,
 17453,
 17463,
 17464,
 17465,
 17466,
 17473,
 17474,
 17475,
 17476,
 17477,
 17482,
 17483,
 17485,
 17558,
 17569,
 17572,
 17582,
 17585,
 17590,
 17592,
 17593,
 17595,
 17596,
 17597,
 17599,
 17600,
 17601,
 17603,
 17604,
 17605,
 17608,
 17609,
 17610,
 17611,
 17612,
 17754,
 17755,
 17756,
 17757,
 17758,
 17759,
 17760,
 17761,
 17764,
 18509,
 18723,
 19877,
 19928,
 19943,
 19947,
 19950,
 19952,
 19972,
 19988,
 19996,
 20589,
 21171,
 21172,
 21173,
 21174,
 21440,
 23567,
 24160,
 24579,
 24580,
 26360,
 26707,
 27042,
 27267,
 27849,
 28134,
 28206,
 28213,
 28220,
 28228,
 28403,
 28424,
 28425,
 28551,
 28664,
 28665,
 29011,
 29037,
 29103,
 29104,
 29105,
 29106,
 29108,
 29178,
 29395,
 29566,
 29750,
 29751,
 31026,
 31027,
 31028,
 31418,
 31921,
 33111,
 33112,
 33595,
 33638,
 34068,
 34218,
 34244,
 34260,
 34651,
 35273,
 35281,
 35851,
 35852,
 36209,
 36568,
 36864,
 36865,
 36866,
 36928,
 36947,
 36963,
 36967,
 36973,
 37671,
 39886,
 45380,
 48871,
 54510,
 54636,
 65303,
 65304,
 65306,
 110152,
 110413,
 110465,
 110564,
 110813,
 111240,
 111320,
 111361,
 111369,
 111426,
 111427,
 111428,
 112050,
 112052,
 112053,
 112058,
 112059,
 112277,
 112379,
 113028,
 113043,
 113050,
 113051,
 113055,
 113056,
 113059,
 113501,
 113503,
 113505,
 113509,
 113510,
 113514,
 113572,
 113760,
 113767,
 113773,
 113776,
 113781,
 113783,
 113784,
 113786,
 113787,
 113788,
 113789,
 113792,
 113794,
 113796,
 113798,
 113800,
 113803,
 113804,
 113806,
 113807,
 211536,
 218629,
 219533,
 220367,
 220845,
 223596,
 226593,
 226875,
 228414,
 229236,
 230080,
 230136,
 230433,
 230434,
 231919,
 231945,
 233639,
 233866,
 234360,
 234604,
 234686,
 234818,
 236171,
 236852,
 236853,
 237442,
 237565,
 237668,
 237671,
 237736,
 237789,
 237798,
 239853,
 239854,
 239855,
 239856,
 239865,
 240929,
 243847,
 243880,
 244252,
 244270,
 244278,
 244310,
 244358,
 244361,
 244367,
 244373,
 248698,
 248706,
 248723,
 248727,
 248731,
 248733,
 248738,
 248740,
 248747,
 250643,
 250644,
 250646,
 250647,
 250648,
 250649,
 250651,
 250652,
 250653,
 250655,
 265302,
 312991,
 312992,
 312993,
 315037,
 315082,
 315084,
 315086,
 315088,
 315089,
 315090,
 315093,
 315094,
 315096,
 315097,
 315098,
 315151,
 315153,
 323592,
 323951,
 324669,
 330877,
 330909,
 330919,
 330923,
 330931,
 330932,
 330935,
 330958,
 330959,
 330979,
 330980,
 334912,
 335097,
 335677,
 336439,
 341826,
 342826,
 343095,
 343120,
 343275,
 343276,
 345364,
 345572,
 345763,
 345764,
 345765,
 345767,
 345769,
 345770,
 345773,
 345774,
 345777,
 345778,
 345779,
 345780,
 345781,
 345783,
 347054,
 347060,
 347061,
 347062,
 347063,
 347064,
 347067,
 347068,
 347069,
 347071,
 347073,
 347074,
 347076,
 347077,
 347078,
 347080,
 347081,
 347082,
 347083,
 347085,
 347087,
 347088,
 347089,
 347464,
 347466,
 347468,
 347470,
 347742,
 347743,
 348121,
 348123,
 348124,
 349201,
 349203,
 349204,
 349205,
 349206,
 349207,
 349208,
 349209,
 349210,
 349212,
 349213,
 349214,
 349215,
 349216,
 349217,
 349218,
 349219,
 349221,
 349222,
 349223,
 349224,
 349225,
 349227,
 349228,
 349231,
 349233,
 349234,
 349236,
 349237,
 349239,
 349240,
 349241,
 349242,
 349243,
 349244,
 349245,
 349246,
 349247,
 349248,
 349249,
 349251,
 349252,
 349253,
 349254,
 349256,
 349257,
 349909,
 349910,
 349912,
 350025,
 350026,
 350029,
 350034,
 350035,
 350036,
 350042,
 350043,
 350046,
 350047,
 350048,
 350050,
 350052,
 350060,
 350404,
 350406,
 350407,
 350417,
 358585,
 362316,
 363291,
 363294,
 363592,
 364498,
 364499,
 364500,
 364506,
 364511,
 364512,
 364516,
 364846,
 364848,
 364849,
 364850,
 364851,
 365222,
 365226,
 367226,
 367228,
 367229,
 367230,
 367231,
 367232,
 367655,
 368323,
 368703,
 370129,
 370365,
 370369,
 370370,
 370371,
 370372,
 370373,
 370375,
 370376,
 370377,
 371060,
 371110,
 371362,
 372622,
 373450,
 374746,
 374887,
 374910,
 376564,
 376566,
 382649,
 382651,
 382652,
 383121,
 384461,
 386525,
 392076,
 392078,
 392082,
 392086,
 392087,
 392089,
 392090,
 392091,
 392092,
 392096,
 394140,
 3101264,
 3101265,
 3101267,
 3101269,
 3101271,
 3101272,
 3101273,
 3101274,
 3101275,
 3101276,
 3101277,
 3101278,
 3101279,
 3101280,
 3101281,
 3101282,
 3101283,
 3101285,
 3101286,
 3101287,
 3101288,
 3101289,
 3101290,
 3101292,
 3101293,
 3101294,
 3101295,
 3101296,
 3101298,
 3101305,
 3101306,
 3101307,
 3101310,
 3101311,
 3101312,
 3101316,
 3101317]

Seems like there could be something useful in those alpha tokens in the tickets.  Also it seems interesting that there are some large groups of tickets in the ticket numbers.  This could also be useful information.

In [230]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_known,adjusted_age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True,22.000000
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,True,38.000000
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,True,26.000000
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,True,35.000000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True,35.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,True,27.000000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,True,19.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,False,29.554842
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,True,26.000000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,True,32.000000

In [231]:
def ticket_tokens(ticket_str):
    t = ticket_str.upper()
    for remove in ['.','/']:
        t = t.replace(remove,'')
    for token in t.split(' '):
        yield token

def ticket_code(ticket_str):
    for token in ticket_tokens(ticket_str):
        if not token.isnumeric():
            return token
    return ''

def ticket_numeric(ticket_str):
    for token in ticket_tokens(ticket_str):
        if token.isnumeric():
            return int(token)
    return 0
        
def ticket_processor(df):
    df['ticket_code'] = df.Ticket.apply(ticket_code)
    df['ticket_numeric'] = df.Ticket.apply(ticket_numeric)
    return df

In [232]:
ticket = 'PC 17599'
list(ticket_tokens(ticket))

['PC', '17599']

In [233]:
ticket_code(ticket)

'PC'

In [234]:
ticket_numeric(ticket)

17599

In [235]:
df = ticket_processor(train_raw.copy())

In [236]:
sorted(list(df['ticket_code'].unique()))

['',
 'A4',
 'A5',
 'AS',
 'C',
 'CA',
 'CASOTON',
 'FA',
 'FC',
 'FCC',
 'LINE',
 'PC',
 'PP',
 'PPP',
 'SC',
 'SCA4',
 'SCAH',
 'SCOW',
 'SCPARIS',
 'SOC',
 'SOP',
 'SOPP',
 'SOTONO2',
 'SOTONOQ',
 'SP',
 'STONO',
 'STONO2',
 'SWPP',
 'WC',
 'WEP']

There might be more room to play with this; it's possible that things like `WE/P` and `WEP` are really the same thing.  And maybe there's some correlation of meaning between `SC/A4`, `SC`, and `A4`.  In fact, let's go ahead and integrate those by dropping slashes.

In [237]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_code,ticket_numeric
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,A5,21171
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,PC,17599
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,STONO2,3101282
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,,113803
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,,373450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,,211536
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,,112053
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,WC,6607
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,,111369
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,,370376

## Fare

In [238]:
sorted(list(df['Fare'].unique()))

[0.0,
 4.0125,
 5.0,
 6.2375,
 6.4375,
 6.45,
 6.4958,
 6.75,
 6.8583,
 6.95,
 6.975,
 7.0458,
 7.05,
 7.0542,
 7.125,
 7.1417,
 7.225,
 7.2292,
 7.25,
 7.3125,
 7.4958,
 7.5208,
 7.55,
 7.6292,
 7.65,
 7.725,
 7.7292,
 7.7333,
 7.7375,
 7.7417,
 7.75,
 7.775,
 7.7875,
 7.7958,
 7.8,
 7.8292,
 7.8542,
 7.875,
 7.8792,
 7.8875,
 7.8958,
 7.925,
 8.0292,
 8.05,
 8.1125,
 8.1375,
 8.1583,
 8.3,
 8.3625,
 8.4042,
 8.4333,
 8.4583,
 8.5167,
 8.6542,
 8.6625,
 8.6833,
 8.7125,
 8.85,
 9.0,
 9.2167,
 9.225,
 9.35,
 9.475,
 9.4833,
 9.5,
 9.5875,
 9.825,
 9.8375,
 9.8417,
 9.8458,
 10.1708,
 10.4625,
 10.5,
 10.5167,
 11.1333,
 11.2417,
 11.5,
 12.0,
 12.275,
 12.2875,
 12.35,
 12.475,
 12.525,
 12.65,
 12.875,
 13.0,
 13.4167,
 13.5,
 13.7917,
 13.8583,
 13.8625,
 14.0,
 14.1083,
 14.4,
 14.4542,
 14.4583,
 14.5,
 15.0,
 15.0458,
 15.05,
 15.1,
 15.2458,
 15.5,
 15.55,
 15.7417,
 15.75,
 15.85,
 15.9,
 16.0,
 16.1,
 16.7,
 17.4,
 17.8,
 18.0,
 18.75,
 18.7875,
 19.2583,
 19.5,
 19.9667,
 20.2125,
 20.25,
 20.525,
 20.575,
 21.0,
 21.075,
 21.6792,
 22.025,
 22.3583,
 22.525,
 23.0,
 23.25,
 23.45,
 24.0,
 24.15,
 25.4667,
 25.5875,
 25.925,
 25.9292,
 26.0,
 26.25,
 26.2833,
 26.2875,
 26.3875,
 26.55,
 27.0,
 27.7208,
 27.75,
 27.9,
 28.5,
 28.7125,
 29.0,
 29.125,
 29.7,
 30.0,
 30.0708,
 30.5,
 30.6958,
 31.0,
 31.275,
 31.3875,
 32.3208,
 32.5,
 33.0,
 33.5,
 34.0208,
 34.375,
 34.6542,
 35.0,
 35.5,
 36.75,
 37.0042,
 38.5,
 39.0,
 39.4,
 39.6,
 39.6875,
 40.125,
 41.5792,
 42.4,
 46.9,
 47.1,
 49.5,
 49.5042,
 50.0,
 50.4958,
 51.4792,
 51.8625,
 52.0,
 52.5542,
 53.1,
 55.0,
 55.4417,
 55.9,
 56.4958,
 56.9292,
 57.0,
 57.9792,
 59.4,
 61.175,
 61.3792,
 61.9792,
 63.3583,
 65.0,
 66.6,
 69.3,
 69.55,
 71.0,
 71.2833,
 73.5,
 75.25,
 76.2917,
 76.7292,
 77.2875,
 77.9583,
 78.2667,
 78.85,
 79.2,
 79.65,
 80.0,
 81.8583,
 82.1708,
 83.1583,
 83.475,
 86.5,
 89.1042,
 90.0,
 91.0792,
 93.5,
 106.425,
 108.9,
 110.8833,
 113.275,
 120.0,
 133.65,
 134.5,
 135.6333,
 146.5208,
 151.55,
 153.4625,
 164.8667,
 211.3375,
 211.5,
 221.7792,
 227.525,
 247.5208,
 262.375,
 263.0,
 512.3292]

Looks ok.  I'm not sure why some of them are zero.  The fractional numbers suggests maybe there is currency conversion involved.  I don't see any NaN or things that need processing.

Actually, while there are no missing items in the training data, one of the test items is missing the fare.  Let's fill in the average fare for that.

In [239]:
def fare_processor(df):
    avg_fare = df.Fare.mean()
    df['adjusted_fare'] = df.Fare.fillna(avg_fare)
    return df

## Cabin

In [240]:
def cabin_tokens(s):
    if pd.isna(s):
        return None
    return s
    
for s in df.Cabin:
    t = cabin_tokens(s)
    if not t:
        continue
    print(t)

C85
C123
E46
G6
C103
D56
A6
C23 C25 C27
B78
D33
B30
C52
B28
C83
F33
F G73
C23 C25 C27
E31
A5
D10 D12
D26
C110
B58 B60
E101
D26
F E69
D47
C123
B86
F2
C2
E33
B19
A7
C49
F4
A32
F2
B4
B80
G6
A31
D36
D15
C93
C83
C78
D35
G6
C87
B77
E67
B94
C125
C99
C118
D7
A19
B49
D
C22 C26
C106
B58 B60
E101
C22 C26
C65
E36
C54
B57 B59 B63 B66
C7
E34
C32
D
B18
C124
C91
C2
E40
T
F2
C23 C25 C27
F33
C128
E33
D37
B35
E50
C82
B96 B98
D36
G6
C78
E10
C52
E44
B96 B98
C23 C25 C27
A34
C104
C111
C92
E38
D21
E12
E63
D
A14
B49
C93
B37
C30
D20
C22 C26
B79
C65
E25
D46
F33
B73
B18
C95
B38
B39
B22
C86
C70
A16
E67
C101
E25
E44
C68
A10
E68
B41
D20
A20
C125
F4
D19
D50
D9
A23
B50
B35
D33
A26
D48
E58
C126
B71
B51 B53 B55
D49
B5
B20
C68
F G63
C62 C64
E24
E24
C90
C124
C126
F G73
C45
E101
E8
B5
B101
D45
C46
B57 B59 B63 B66
B22
D30
E121
B77
B96 B98
D11
E77
F38
B3
B20
D6
B82 B84
D17
B96 B98
A36
E8
B102
B69
E121
B28
E49
C47
C92
D28
E17
D17
A24
D35
B51 B53 B55
C50
B42
C148

Some people have multiple cabins, apparently?  Number of cabins assigned could indicate how large of a group you're in, and/or a level of comfort.  Let's add a feature that exposes the room count, since we're going to be trimming this down to exposing a single room.  Plus there are some other interesting things in here.

In [241]:
df[df.Cabin.isin(['B57 B59 B63 B66', 'F G73'])].sort_values(['Cabin'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ticket_code,ticket_numeric
311,312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.375,B57 B59 B63 B66,C,PC,17608
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.375,B57 B59 B63 B66,C,PC,17608
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.650,F G73,S,,348123
715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,19.0,0,0,348124,7.650,F G73,S,,348124

For now, I'll divide the cabin information into 2 fields:
* A single code for the cabin section, `A`,`B`, etc. Select the first code from a cabin with a room number.  So for `F G73` we will return `G`.
* A single numeric for the room number.  If there are multiple, I'll use the first one.

In [242]:
def room_number(cabin):
    if pd.isna(cabin):
        return 0
    for part in cabin.split(' '):
        if len(part) <=1: # Skip single letter things
            continue
        return int(part[1:])
    return 0

def room_known(cabin):
    return (room_number(cabin) > 0)

def room_section(cabin):
    if pd.isna(cabin):
        return 'Unk'
    result = 'Unk'
    for part in cabin.split(' '):
        if len(part) <=1: # Skip single letter things
            if result == 'Unk': # Use this for the section if we haven't found something better.
                result = part
        return part[0:1]
    return result

def room_count(cabin):
    if pd.isna(cabin):
        return 0
    return len(cabin.split(' '))

In [243]:
test_cabins = ['B57 B58', 'F G73','A12', 'T']
[room_number(c) for c in test_cabins], [room_count(c) for c in test_cabins]

([57, 73, 12, 0], [2, 2, 1, 1])

In [244]:
[room_section(c) for c in test_cabins]

['B', 'F', 'A', 'T']

In [245]:
def cabin_processor(df):
    df['cabin_known'] = df.Cabin.apply(room_known)
    df['cabin_number'] = df.Cabin.apply(room_number)
    df['cabin_section'] = df.Cabin.apply(room_section)
    df['cabin_count'] = df.Cabin.apply(room_count)
    return df

In [246]:
df = cabin_processor(test_raw.copy())
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_known,cabin_number,cabin_section,cabin_count
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,False,0,Unk,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,False,0,Unk,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,False,0,Unk,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,False,0,Unk,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,False,0,Unk,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,False,0,Unk,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,True,105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,False,0,Unk,0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,False,0,Unk,0
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,False,0,Unk,0

In [247]:
df[df.cabin_section != 'Unk']

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_known,cabin_number,cabin_section,cabin_count
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,True,45,B,1
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,True,31,E,1
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,True,57,B,4
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C,True,36,B,1
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,True,21,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,True,40,D,1
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,True,38,D,1
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,True,80,C,1
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,True,78,C,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,True,105,C,1

## Embarked

In [248]:
df.Embarked.unique()

array(['Q', 'S', 'C'], dtype=object)

It looks like that's all for the data preprocessing.  Let's bring all the processors together.

## Final Data Prep

In [249]:
processors = [
    age_processor,
    fare_processor,
    ticket_processor,
    cabin_processor,
]

@dataclass
class Dataset:
    raw: pd.DataFrame # The dataframe directly from the csv.
    enhanced: pd.DataFrame # Updated, pre-processed fields added to raw
    trimmed: pd.DataFrame # Cut down to just the fields we will run models on
    encoded: pd.DataFrame # What we run models on, one-hot-encoded

    def X(self):
        """
        Gets a numpy array suitable for feeding into a model.
        """
        return self.encoded.drop(columns=['Survived']).to_numpy()
    
    def Y(self):
        return self.encoded[['Survived']].to_numpy()

    def Y_flat(self):
        """Returns predictions as a single-dimensional array."""
        return self.encoded[['Survived']].to_numpy().ravel()
    
def select_rows(df, train=True):
    """
    Get rows either for train or test.
    """
    if train:
        return df[~df.Survived.isna()]
    else:
        return df[df.Survived.isna()]
    
def load_data():
    # Load test and train together so that they share the same encodings.
    df_train = pd.read_csv('/kaggle/input/titanic/train.csv')
    df_test = pd.read_csv('/kaggle/input/titanic/test.csv')
    df_all = df_train.copy().append(df_test, ignore_index=True)

    # Preprocess.
    df = df_all
    for processor in processors:
        df = processor(df)

    # Trim down to just the columns we'll look at.
    trimmed = df.copy().drop(columns=['Name','Age','Ticket','Cabin'])
    
    # The columns we want one-hot encoded are the categorical columns that don't have intrinsic numerical meaning.
    # We are leaving Pclass out of this list because even though it is categorical, it has intrinsic and sorted numeric meaning.
    one_hot_cols = ['Sex','Embarked','ticket_code','cabin_section']
    continuous_cols = ['Survived', 'Pclass', 'SibSp', 'Parch', 'adjusted_fare', 'age_known', 'adjusted_age', 'ticket_numeric', 'cabin_known', 'cabin_number', 'cabin_count']
    one_hot_encoded_fields = pd.get_dummies(trimmed[one_hot_cols])
    # Join continuous fields with categorical fields.
    encoded_inputs = trimmed[continuous_cols].join(one_hot_encoded_fields)
    
    ds_train = Dataset(raw=df_train,
                       enhanced=select_rows(df, train=True),
                       trimmed=select_rows(trimmed, train=True),
                       encoded=select_rows(encoded_inputs, train=True)
                      )
    ds_test = Dataset(raw=df_test,
                       enhanced=select_rows(df, train=False),
                       trimmed=select_rows(trimmed, train=False),
                       encoded=select_rows(encoded_inputs, train=False)
                      )
    return ds_train, ds_test

In [250]:
ds_train, ds_test = load_data()

Check for nan's:

In [251]:
ds_train.encoded.isnull().values.any()

False

In [252]:
ds = ds_test
#ds = ds_train
for col in ds.encoded.columns:
    null_count = ds.encoded[col].isnull().sum()
    if null_count == 0:
        continue
    print(f'col {col} has null={null_count}')

col Survived has null=418

In [253]:
ds_train.raw

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [254]:
ds_test.raw

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [255]:
ds_train.enhanced

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,age_known,adjusted_age,adjusted_fare,ticket_code,ticket_numeric,cabin_known,cabin_number,cabin_section,cabin_count
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,True,22.000000,7.2500,A5,21171,False,0,Unk,0
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,True,38.000000,71.2833,PC,17599,True,85,C,1
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,True,26.000000,7.9250,STONO2,3101282,False,0,Unk,0
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,True,35.000000,53.1000,,113803,True,123,C,1
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,True,35.000000,8.0500,,373450,False,0,Unk,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0.0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,S,True,27.000000,13.0000,,211536,False,0,Unk,0
887,888,1.0,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,S,True,19.000000,30.0000,,112053,True,42,B,1
888,889,0.0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,S,False,29.798786,23.4500,WC,6607,False,0,Unk,0
889,890,1.0,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,C,True,26.000000,30.0000,,111369,True,148,C,1
890,891,0.0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,Q,True,32.000000,7.7500,,370376,False,0,Unk,0

In [256]:
ds_test.enhanced

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,age_known,adjusted_age,adjusted_fare,ticket_code,ticket_numeric,cabin_known,cabin_number,cabin_section,cabin_count
891,892,NaN,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,...,Q,False,34.000000,7.8292,,330911,False,0,Unk,0
892,893,NaN,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,...,S,True,47.000000,7.0000,,363272,False,0,Unk,0
893,894,NaN,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,...,Q,True,62.000000,9.6875,,240276,False,0,Unk,0
894,895,NaN,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,...,S,True,27.000000,8.6625,,315154,False,0,Unk,0
895,896,NaN,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,...,S,True,22.000000,12.2875,,3101298,False,0,Unk,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,...,S,False,29.798786,8.0500,A5,3236,False,0,Unk,0
1305,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,...,C,True,39.000000,108.9000,PC,17758,True,105,C,1
1306,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,...,S,False,38.000000,7.2500,SOTONOQ,3101262,False,0,Unk,0
1307,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,...,S,False,29.798786,8.0500,,359309,False,0,Unk,0
1308,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,...,C,False,29.798786,22.3583,,2668,False,0,Unk,0

In [257]:
ds_train.encoded

,Survived,Pclass,SibSp,Parch,adjusted_fare,age_known,adjusted_age,ticket_numeric,cabin_known,cabin_number,...,ticket_code_WEP,cabin_section_A,cabin_section_B,cabin_section_C,cabin_section_D,cabin_section_E,cabin_section_F,cabin_section_G,cabin_section_T,cabin_section_Unk
0,0.0,3,1,0,7.2500,True,22.000000,21171,False,0,...,0,0,0,0,0,0,0,0,0,1
1,1.0,1,1,0,71.2833,True,38.000000,17599,True,85,...,0,0,0,1,0,0,0,0,0,0
2,1.0,3,0,0,7.9250,True,26.000000,3101282,False,0,...,0,0,0,0,0,0,0,0,0,1
3,1.0,1,1,0,53.1000,True,35.000000,113803,True,123,...,0,0,0,1,0,0,0,0,0,0
4,0.0,3,0,0,8.0500,True,35.000000,373450,False,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.0,2,0,0,13.0000,True,27.000000,211536,False,0,...,0,0,0,0,0,0,0,0,0,1
887,1.0,1,0,0,30.0000,True,19.000000,112053,True,42,...,0,0,1,0,0,0,0,0,0,0
888,0.0,3,1,2,23.4500,False,29.798786,6607,False,0,...,0,0,0,0,0,0,0,0,0,1
889,1.0,1,0,0,30.0000,True,26.000000,111369,True,148,...,0,0,0,1,0,0,0,0,0,0
890,0.0,3,0,0,7.7500,True,32.000000,370376,False,0,...,0,0,0,0,0,0,0,0,0,1

Here is what we'll train with:

In [258]:
ds_train.X()

array([[3, 1, 0, ..., 0, 0, 1],
       [1, 1, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 1],
       ...,
       [3, 1, 2, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 1]], dtype=object)

In [259]:
ds_train.X().shape

(891, 60)

In [260]:
ds_train.Y()

array([[0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.]])

In [261]:
ds_test.trimmed

,PassengerId,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked,age_known,adjusted_age,adjusted_fare,ticket_code,ticket_numeric,cabin_known,cabin_number,cabin_section,cabin_count
891,892,NaN,3,male,0,0,7.8292,Q,False,34.000000,7.8292,,330911,False,0,Unk,0
892,893,NaN,3,female,1,0,7.0000,S,True,47.000000,7.0000,,363272,False,0,Unk,0
893,894,NaN,2,male,0,0,9.6875,Q,True,62.000000,9.6875,,240276,False,0,Unk,0
894,895,NaN,3,male,0,0,8.6625,S,True,27.000000,8.6625,,315154,False,0,Unk,0
895,896,NaN,3,female,1,1,12.2875,S,True,22.000000,12.2875,,3101298,False,0,Unk,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,male,0,0,8.0500,S,False,29.798786,8.0500,A5,3236,False,0,Unk,0
1305,1306,NaN,1,female,0,0,108.9000,C,True,39.000000,108.9000,PC,17758,True,105,C,1
1306,1307,NaN,3,male,0,0,7.2500,S,False,38.000000,7.2500,SOTONOQ,3101262,False,0,Unk,0
1307,1308,NaN,3,male,0,0,8.0500,S,False,29.798786,8.0500,,359309,False,0,Unk,0
1308,1309,NaN,3,male,1,1,22.3583,C,False,29.798786,22.3583,,2668,False,0,Unk,0

# Models
1. Random forest
2. XGBoost.
3. Neural net, simple
4. Neural net, embeddings

## Random Forest
As a baseline, let's try the random forest classifier in [the Alexis Tutorial](https://www.kaggle.com/alexisbcook/titanic-tutorial).

In [262]:
forest_model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
forest_model.fit(ds_train.X(), ds_train.Y().ravel())
#predictions = forest_model.predict(ds_test.X())

RandomForestClassifier(max_depth=5, random_state=1)

In [263]:
forest_predictions = forest_model.predict(ds_test.X()).astype(int)

In [264]:
forest_predictions

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0])

In [265]:
def submit(predictions, passenger_ids, output_csv_name):
    # Float values result in zero score. Convert to int.
    predictions = predictions.astype(int)
    output = pd.DataFrame({
        'PassengerId': passenger_ids,
        'Survived': predictions
    })
    output.to_csv(output_csv_name, index=False)

## Evaluating the baseline model
1. Run the `submit()` function below for the model
2. Click "Save Version" at the top right
3. Ensure "Save and Run All" option is selected, the click "Save"
4. After the notebook has finished running, click on the number to the right of the "Save Version" button.  Click on the ... and select Open in Viewer.
5. Click on the Output tab on the right, then click on "Submit to the Competition"

In [266]:
submit(forest_predictions, ds_test.raw.PassengerId, 'submit-baseline.csv')

That model has an accuracy of 0.76794.

## XGBoost

In [267]:
xgb_model = xgb.XGBClassifier(use_label_encoder=False)

In [268]:
xgb_model.fit(ds_train.X(), ds_train.Y_flat())

[23:31:03] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [269]:
xgb_predictions = xgb_model.predict(ds_test.X())

Compare versus baseline:

In [270]:
comparison = pd.DataFrame(data={
    'forest': forest_predictions,
    'xgb': xgb_predictions
})
comparison

     forest  xgb
0         0    0
1         0    0
2         0    0
3         0    1
4         1    1
..      ...  ...
413       0    0
414       1    1
415       0    0
416       0    0
417       0    0

[418 rows x 2 columns]

In [271]:
comparison[comparison.forest != comparison.xgb]

     forest  xgb
3         0    1
6         1    0
11        0    1
18        0    1
21        0    1
..      ...  ...
376       1    0
379       0    1
380       0    1
404       1    0
410       1    0

[61 rows x 2 columns]

In [272]:
submit(xgb_predictions, ds_test.raw.PassengerId, 'submit-xgb.csv')

xgboost model was 0.76555 accuracy, which is a little worse but pretty much identical to the random forest.

## Neural Model

In [341]:
class NN:
    def __init__(self, input_width, layer_width=100, layer_count=3):
        self.model = self._build_model(input_width, layer_width, layer_count)
    
    def _build_model(self, input_width, layer_width, layer_count):
        model = Sequential()
        model.add(BatchNormalization(input_shape=(input_width,)))
        model.add(Dropout(0.2))
        
        model.add(Dense(layer_width, activation='relu'))
        #model.add(BatchNormalization(input_shape=(input_width,)))#
        model.add(Dropout(0.2))
        w = layer_width
        for _ in range(layer_count - 1):
            w = int(w/2)
            model.add(Dense(w, activation='relu'))
            #model.add(BatchNormalization(input_shape=(input_width,)))#
            model.add(Dropout(0.2))
        model.add(Dense(1, activation='sigmoid'))
        model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
        return model
    
    def train(self, X, Y, epochs=50):
        self.model.fit(X.astype(float), Y.astype(float), epochs=epochs)
    
    def accuracy(self, X_test, Y_test):
        loss, accuracy = self.model.evaluate(X_test.astype(float), Y_test)
        return accuracy

In [274]:
input_width = ds_train.X().shape[1]
input_width

60

In [275]:
nn_model = NN(input_width, layer_width=500, layer_count=5)

In [276]:
nn_model.model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_2 (Batch (None, 60)                240
_________________________________________________________________
dropout_12 (Dropout)         (None, 60)                0
_________________________________________________________________
dense_12 (Dense)             (None, 500)               30500
_________________________________________________________________
dropout_13 (Dropout)         (None, 500)               0
_________________________________________________________________
dense_13 (Dense)             (None, 250)               125250
_________________________________________________________________
dropout_14 (Dropout)         (None, 250)               0
_________________________________________________________________
dense_14 (Dense)             (None, 125)               31375
_________________________________________________________________
dropout_15 (Dropout)         (None, 125)               0
_________________________________________________________________
dense_15 (Dense)             (None, 62)                7812
_________________________________________________________________
dropout_16 (Dropout)         (None, 62)                0
_________________________________________________________________
dense_16 (Dense)             (None, 31)                1953
_________________________________________________________________
dropout_17 (Dropout)         (None, 31)                0
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 32
=================================================================
Total params: 197,162
Trainable params: 197,042
Non-trainable params: 120
_________________________________________________________________

In [277]:
nn_model.model.fit(ds_train.X().astype(float), ds_train.Y().astype(float), epochs=100)

Epoch 1/100
28/28 [==============================] - 1s 5ms/step - loss: 0.6441 - accuracy: 0.6180
Epoch 2/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4864 - accuracy: 0.7564
Epoch 3/100
28/28 [==============================] - 0s 5ms/step - loss: 0.5073 - accuracy: 0.7777
Epoch 4/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4588 - accuracy: 0.8031
Epoch 5/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4728 - accuracy: 0.7986
Epoch 6/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4498 - accuracy: 0.8114
Epoch 7/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4632 - accuracy: 0.7981
Epoch 8/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4514 - accuracy: 0.7938
Epoch 9/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4409 - accuracy: 0.8160
Epoch 10/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4556 - accuracy: 0.7997
Epoch 11/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4092 - accuracy: 0.8170
Epoch 12/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4238 - accuracy: 0.8225
Epoch 13/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4233 - accuracy: 0.8174
Epoch 14/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4123 - accuracy: 0.8279
Epoch 15/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4341 - accuracy: 0.8023
Epoch 16/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4069 - accuracy: 0.8280
Epoch 17/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3855 - accuracy: 0.8439
Epoch 18/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4304 - accuracy: 0.8126
Epoch 19/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4100 - accuracy: 0.8264
Epoch 20/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4032 - accuracy: 0.8345
Epoch 21/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3801 - accuracy: 0.8491
Epoch 22/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4413 - accuracy: 0.8278
Epoch 23/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4249 - accuracy: 0.8030
Epoch 24/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4126 - accuracy: 0.8102
Epoch 25/100
28/28 [==============================] - 0s 6ms/step - loss: 0.4130 - accuracy: 0.8212
Epoch 26/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4001 - accuracy: 0.8234
Epoch 27/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4021 - accuracy: 0.8354
Epoch 28/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3925 - accuracy: 0.8347
Epoch 29/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3795 - accuracy: 0.8362
Epoch 30/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3740 - accuracy: 0.8369
Epoch 31/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3563 - accuracy: 0.8325
Epoch 32/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4339 - accuracy: 0.8009
Epoch 33/100
28/28 [==============================] - 0s 7ms/step - loss: 0.4053 - accuracy: 0.8135
Epoch 34/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3695 - accuracy: 0.8450
Epoch 35/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3777 - accuracy: 0.8310
Epoch 36/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3802 - accuracy: 0.8321
Epoch 37/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3887 - accuracy: 0.8364
Epoch 38/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4510 - accuracy: 0.8069
Epoch 39/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4345 - accuracy: 0.8009
Epoch 40/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4214 - accuracy: 0.8154
Epoch 41/100
28/28 [==============================] - 0s 6ms/step - loss: 0.3391 - accuracy: 0.8509
Epoch 42/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3761 - accuracy: 0.8393
Epoch 43/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3568 - accuracy: 0.8481
Epoch 44/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3973 - accuracy: 0.8242
Epoch 45/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3658 - accuracy: 0.8323
Epoch 46/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3836 - accuracy: 0.8358
Epoch 47/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3908 - accuracy: 0.8504
Epoch 48/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3964 - accuracy: 0.8176
Epoch 49/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3547 - accuracy: 0.8470
Epoch 50/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3961 - accuracy: 0.8168
Epoch 51/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3650 - accuracy: 0.8509
Epoch 52/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3481 - accuracy: 0.8688
Epoch 53/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3839 - accuracy: 0.8382
Epoch 54/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4007 - accuracy: 0.8349
Epoch 55/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3674 - accuracy: 0.8480
Epoch 56/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3742 - accuracy: 0.8394
Epoch 57/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4285 - accuracy: 0.8023
Epoch 58/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3547 - accuracy: 0.8463
Epoch 59/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3761 - accuracy: 0.8365
Epoch 60/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3819 - accuracy: 0.8238
Epoch 61/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3956 - accuracy: 0.8301
Epoch 62/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3584 - accuracy: 0.8401
Epoch 63/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3742 - accuracy: 0.8321
Epoch 64/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3542 - accuracy: 0.8461
Epoch 65/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3709 - accuracy: 0.8470
Epoch 66/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3551 - accuracy: 0.8475
Epoch 67/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3440 - accuracy: 0.8386
Epoch 68/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3809 - accuracy: 0.8376
Epoch 69/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3468 - accuracy: 0.8509
Epoch 70/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3639 - accuracy: 0.8400
Epoch 71/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4065 - accuracy: 0.8052
Epoch 72/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3568 - accuracy: 0.8418
Epoch 73/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3994 - accuracy: 0.8295
Epoch 74/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4307 - accuracy: 0.8069
Epoch 75/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3932 - accuracy: 0.8297
Epoch 76/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3393 - accuracy: 0.8422
Epoch 77/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3416 - accuracy: 0.8641
Epoch 78/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3639 - accuracy: 0.8340
Epoch 79/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3740 - accuracy: 0.8420
Epoch 80/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3478 - accuracy: 0.8409
Epoch 81/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3549 - accuracy: 0.8555
Epoch 82/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3906 - accuracy: 0.8155
Epoch 83/100

28/28 [==============================] - 0s 5ms/step - loss: 0.3706 - accuracy: 0.8333
Epoch 84/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3336 - accuracy: 0.8575
Epoch 85/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3539 - accuracy: 0.8540
Epoch 86/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3717 - accuracy: 0.8289
Epoch 87/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3352 - accuracy: 0.8476
Epoch 88/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3682 - accuracy: 0.8204
Epoch 89/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3742 - accuracy: 0.8328
Epoch 90/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3583 - accuracy: 0.8445
Epoch 91/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3748 - accuracy: 0.8240
Epoch 92/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3719 - accuracy: 0.8443
Epoch 93/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3370 - accuracy: 0.8323
Epoch 94/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3453 - accuracy: 0.8525
Epoch 95/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3986 - accuracy: 0.8221
Epoch 96/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3165 - accuracy: 0.8705
Epoch 97/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3561 - accuracy: 0.8460
Epoch 98/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3831 - accuracy: 0.8372
Epoch 99/100
28/28 [==============================] - 0s 6ms/step - loss: 0.3775 - accuracy: 0.8374
Epoch 100/100
28/28 [==============================] - 0s 6ms/step - loss: 0.3324 - accuracy: 0.8497

In [278]:
survive_chance = nn_model.model.predict(ds_test.X().astype(float)).flatten()
survive_chance.shape

(418,)

In [279]:
r = pd.DataFrame(index=ds_test.raw.PassengerId, data={'survive_chance': survive_chance})
r['Survived'] = [int(p>0.5) for p in survive_chance]
r

             survive_chance  Survived
PassengerId
892                0.076844         0
893                0.544190         1
894                0.030226         0
895                0.098928         0
896                0.785195         1
...                     ...       ...
1305               0.005772         0
1306               0.910648         1
1307               0.000087         0
1308               0.113271         0
1309               0.526587         1

[418 rows x 2 columns]

In [280]:
submit(r.Survived, r.index, 'submit-nn.csv')

In [281]:
r['forest'] = forest_predictions

In [282]:
r

             survive_chance  Survived  forest
PassengerId
892                0.076844         0       0
893                0.544190         1       0
894                0.030226         0       0
895                0.098928         0       0
896                0.785195         1       1
...                     ...       ...     ...
1305               0.005772         0       0
1306               0.910648         1       1
1307               0.000087         0       0
1308               0.113271         0       0
1309               0.526587         1       0

[418 rows x 3 columns]

In [283]:
len(r[r.Survived != r.forest])

54

In [284]:
def submit2(predictions, passenger_ids):
    predictions = predictions.astype(int)
    output = pd.DataFrame({
        'PassengerId': passenger_ids,
        'Survived': predictions
    })
    return output

In [285]:
submit2(r.Survived, r.index)

             PassengerId  Survived
PassengerId
892                  892         0
893                  893         1
894                  894         0
895                  895         0
896                  896         1
...                  ...       ...
1305                1305         0
1306                1306         1
1307                1307         0
1308                1308         0
1309                1309         1

[418 rows x 2 columns]

Official accuracy for that was 0.75837.

## Internal Accuracy Measurement
Submitting to the official Kaggle thing is a time-consuming affair.  Let's set up our own internal accuracy measurement.

In [342]:
X = ds_train.X()
Y = ds_train.Y_flat()

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [343]:
nn_model = NN(input_width, layer_width=100, layer_count=3)
nn_model.train(X_train, Y_train, epochs=100)

Epoch 1/100
20/20 [==============================] - 1s 2ms/step - loss: 0.6555 - accuracy: 0.6182
Epoch 2/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5691 - accuracy: 0.7269
Epoch 3/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5368 - accuracy: 0.7552
Epoch 4/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5492 - accuracy: 0.7349
Epoch 5/100
20/20 [==============================] - 0s 3ms/step - loss: 0.5131 - accuracy: 0.7617
Epoch 6/100
20/20 [==============================] - 0s 3ms/step - loss: 0.5034 - accuracy: 0.7931
Epoch 7/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5075 - accuracy: 0.7604
Epoch 8/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.7844
Epoch 9/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4752 - accuracy: 0.7819
Epoch 10/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4806 - accuracy: 0.7943
Epoch 11/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4962 - accuracy: 0.7858
Epoch 12/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4556 - accuracy: 0.8007
Epoch 13/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4618 - accuracy: 0.8133
Epoch 14/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.7915
Epoch 15/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4661 - accuracy: 0.8097
Epoch 16/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4334 - accuracy: 0.8158
Epoch 17/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4456 - accuracy: 0.8032
Epoch 18/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8142
Epoch 19/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4889 - accuracy: 0.7942
Epoch 20/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4327 - accuracy: 0.8141
Epoch 21/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4539 - accuracy: 0.7784
Epoch 22/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4151 - accuracy: 0.8079
Epoch 23/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4363 - accuracy: 0.8207
Epoch 24/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4566 - accuracy: 0.8004
Epoch 25/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4253 - accuracy: 0.8400
Epoch 26/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4262 - accuracy: 0.8261
Epoch 27/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4055 - accuracy: 0.8095
Epoch 28/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4406 - accuracy: 0.7858
Epoch 29/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4558 - accuracy: 0.7992
Epoch 30/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4259 - accuracy: 0.8222
Epoch 31/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3606 - accuracy: 0.8371
Epoch 32/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4207 - accuracy: 0.8089
Epoch 33/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4224 - accuracy: 0.8077
Epoch 34/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4288 - accuracy: 0.7974
Epoch 35/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4140 - accuracy: 0.8185
Epoch 36/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4180 - accuracy: 0.8075
Epoch 37/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4722 - accuracy: 0.8023
Epoch 38/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8535
Epoch 39/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4177 - accuracy: 0.8276
Epoch 40/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4302 - accuracy: 0.8144
Epoch 41/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4377 - accuracy: 0.7908
Epoch 42/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4136 - accuracy: 0.8340
Epoch 43/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4083 - accuracy: 0.8204
Epoch 44/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.8287
Epoch 45/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4265 - accuracy: 0.8185
Epoch 46/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3623 - accuracy: 0.8512
Epoch 47/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3944 - accuracy: 0.8457
Epoch 48/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3842 - accuracy: 0.8288
Epoch 49/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3605 - accuracy: 0.8493
Epoch 50/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4239 - accuracy: 0.8296
Epoch 51/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4208 - accuracy: 0.8033
Epoch 52/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3988 - accuracy: 0.8247
Epoch 53/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4950 - accuracy: 0.7910
Epoch 54/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8472
Epoch 55/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3708 - accuracy: 0.8671
Epoch 56/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4112 - accuracy: 0.8149
Epoch 57/100
20/20 [==============================] - ETA: 0s - loss: 0.2957 - accuracy: 0.93 - 0s 2ms/step - loss: 0.4223 - accuracy: 0.8408
Epoch 58/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3920 - accuracy: 0.8499
Epoch 59/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3687 - accuracy: 0.8394
Epoch 60/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3849 - accuracy: 0.8342
Epoch 61/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3667 - accuracy: 0.8375
Epoch 62/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.8030
Epoch 63/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8338
Epoch 64/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4377 - accuracy: 0.7903
Epoch 65/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3909 - accuracy: 0.8358
Epoch 66/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3934 - accuracy: 0.8103
Epoch 67/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8358
Epoch 68/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8168
Epoch 69/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3799 - accuracy: 0.8268
Epoch 70/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3493 - accuracy: 0.8485
Epoch 71/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4159 - accuracy: 0.8053
Epoch 72/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3982 - accuracy: 0.8114
Epoch 73/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3746 - accuracy: 0.8242
Epoch 74/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4304 - accuracy: 0.8045
Epoch 75/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3606 - accuracy: 0.8575
Epoch 76/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3618 - accuracy: 0.8386
Epoch 77/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8248
Epoch 78/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3895 - accuracy: 0.8331
Epoch 79/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4305 - accuracy: 0.8148
Epoch 80/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3699 - accuracy: 0.8331
Epoch 81/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8300
Epoch 82/100

20/20 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8367
Epoch 83/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4372 - accuracy: 0.7783
Epoch 84/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3289 - accuracy: 0.8550
Epoch 85/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8476
Epoch 86/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4130 - accuracy: 0.8187
Epoch 87/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4156 - accuracy: 0.8239
Epoch 88/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8641
Epoch 89/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3552 - accuracy: 0.8330
Epoch 90/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3524 - accuracy: 0.8553
Epoch 91/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8301
Epoch 92/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3676 - accuracy: 0.8196
Epoch 93/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4432 - accuracy: 0.7988
Epoch 94/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3938 - accuracy: 0.8138
Epoch 95/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3906 - accuracy: 0.8284
Epoch 96/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8352
Epoch 97/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4160 - accuracy: 0.8357
Epoch 98/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3502 - accuracy: 0.8571
Epoch 99/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3775 - accuracy: 0.8142
Epoch 100/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3832 - accuracy: 0.8362

In [344]:
accuracy = nn_model.accuracy(X_test, Y_test)
accuracy #83

9/9 [==============================] - 0s 2ms/step - loss: 0.5632 - accuracy: 0.8321

0.8320895433425903

In [353]:
#nn_model = NN(input_width, layer_width=1000, layer_count=3)
#nn_model.train(X_train, Y_train, epochs=500) # 77
#nn_model = NN(input_width, layer_width=100, layer_count=2)
#nn_model.train(X_train, Y_train, epochs=100) # 82
nn_model = NN(input_width, layer_width=100, layer_count=1)
nn_model.train(X_train, Y_train, epochs=100) # 82

Epoch 1/100
20/20 [==============================] - 1s 2ms/step - loss: 0.7149 - accuracy: 0.5148
Epoch 2/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5892 - accuracy: 0.7023
Epoch 3/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5796 - accuracy: 0.7030
Epoch 4/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5099 - accuracy: 0.7627
Epoch 5/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4941 - accuracy: 0.7845
Epoch 6/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4857 - accuracy: 0.7625
Epoch 7/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4947 - accuracy: 0.7746
Epoch 8/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4640 - accuracy: 0.7912
Epoch 9/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4237 - accuracy: 0.8006
Epoch 10/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4573 - accuracy: 0.8028
Epoch 11/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4347 - accuracy: 0.7963
Epoch 12/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4216 - accuracy: 0.8289
Epoch 13/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4540 - accuracy: 0.8010
Epoch 14/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4561 - accuracy: 0.7901
Epoch 15/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4382 - accuracy: 0.8007
Epoch 16/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4360 - accuracy: 0.8019
Epoch 17/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4543 - accuracy: 0.8050
Epoch 18/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4513 - accuracy: 0.7889
Epoch 19/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4331 - accuracy: 0.8016
Epoch 20/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8397
Epoch 21/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4233 - accuracy: 0.8205
Epoch 22/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3986 - accuracy: 0.8442
Epoch 23/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4179 - accuracy: 0.8147
Epoch 24/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4403 - accuracy: 0.7880
Epoch 25/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4570 - accuracy: 0.7787
Epoch 26/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3927 - accuracy: 0.8348
Epoch 27/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4380 - accuracy: 0.8111
Epoch 28/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4206 - accuracy: 0.8166
Epoch 29/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4161 - accuracy: 0.8309
Epoch 30/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8232
Epoch 31/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3893 - accuracy: 0.8312
Epoch 32/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4099 - accuracy: 0.8349
Epoch 33/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4444 - accuracy: 0.7748
Epoch 34/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4410 - accuracy: 0.7554
Epoch 35/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4358 - accuracy: 0.8101
Epoch 36/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4403 - accuracy: 0.8008
Epoch 37/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4101 - accuracy: 0.8245
Epoch 38/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3950 - accuracy: 0.8095
Epoch 39/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3810 - accuracy: 0.8349
Epoch 40/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8277
Epoch 41/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4099 - accuracy: 0.8224
Epoch 42/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4082 - accuracy: 0.8209
Epoch 43/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4095 - accuracy: 0.8230
Epoch 44/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4060 - accuracy: 0.8190
Epoch 45/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4362 - accuracy: 0.7997
Epoch 46/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4077 - accuracy: 0.8222
Epoch 47/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3777 - accuracy: 0.8407
Epoch 48/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8235
Epoch 49/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3905 - accuracy: 0.8205
Epoch 50/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8129
Epoch 51/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4292 - accuracy: 0.8194
Epoch 52/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3614 - accuracy: 0.8649
Epoch 53/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3498 - accuracy: 0.8558
Epoch 54/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4090 - accuracy: 0.7997
Epoch 55/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4337 - accuracy: 0.8121
Epoch 56/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8108
Epoch 57/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8576
Epoch 58/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8555
Epoch 59/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3724 - accuracy: 0.8417
Epoch 60/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8098
Epoch 61/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4252 - accuracy: 0.8104
Epoch 62/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4020 - accuracy: 0.8266
Epoch 63/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3704 - accuracy: 0.8471
Epoch 64/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3957 - accuracy: 0.8349
Epoch 65/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3743 - accuracy: 0.8400
Epoch 66/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3953 - accuracy: 0.8272
Epoch 67/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4124 - accuracy: 0.8019
Epoch 68/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3653 - accuracy: 0.8343
Epoch 69/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3694 - accuracy: 0.8405
Epoch 70/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8216
Epoch 71/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8397
Epoch 72/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4246 - accuracy: 0.8166
Epoch 73/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3926 - accuracy: 0.8448
Epoch 74/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4158 - accuracy: 0.8102
Epoch 75/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3529 - accuracy: 0.8732
Epoch 76/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3854 - accuracy: 0.8270
Epoch 77/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3785 - accuracy: 0.8336
Epoch 78/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3956 - accuracy: 0.8251
Epoch 79/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3547 - accuracy: 0.8492
Epoch 80/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.7975
Epoch 81/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8306
Epoch 82/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4117 - accuracy: 0.8297
Epoch 83/100

20/20 [==============================] - 0s 2ms/step - loss: 0.3871 - accuracy: 0.8339
Epoch 84/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3943 - accuracy: 0.8211
Epoch 85/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4871 - accuracy: 0.7713
Epoch 86/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3693 - accuracy: 0.8395
Epoch 87/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3713 - accuracy: 0.8322
Epoch 88/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3699 - accuracy: 0.8501
Epoch 89/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3699 - accuracy: 0.8140
Epoch 90/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3483 - accuracy: 0.8352
Epoch 91/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3897 - accuracy: 0.8207
Epoch 92/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8299
Epoch 93/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8670
Epoch 94/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8571
Epoch 95/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4048 - accuracy: 0.8233
Epoch 96/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.8235
Epoch 97/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3948 - accuracy: 0.8247
Epoch 98/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3755 - accuracy: 0.8440
Epoch 99/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3787 - accuracy: 0.8455
Epoch 100/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8324

In [354]:
loss, accuracy = nn_model.model.evaluate(X_test.astype(float), Y_test)
accuracy

9/9 [==============================] - 0s 2ms/step - loss: 0.6017 - accuracy: 0.8284

0.8283582329750061

## NN with Embeddings

In [362]:
class NN_functional_style(NN):
    def _build_model(self, input_width, layer_width, layer_count):
        inputs = Input(shape=(input_width,))
        batch0 = BatchNormalization()(inputs)
        drop0 = Dropout(0.2)(batch0)

        dense1 = Dense(layer_width, activation='relu')(drop0)
        drop1 = Dropout(0.2)(dense1)
        
        prev_layer = drop1
        w = layer_width
        for _ in range(layer_count - 1):
            w = int(w/2)
            dense = Dense(w, activation='relu')(prev_layer)
            drop = Dropout(0.2)(dense)
            prev_layer = drop
        
        output = Dense(1, activation='sigmoid')(prev_layer)
        
        model = keras.Model(inputs=[inputs], outputs=output)
        model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
        return model

In [ ]:
class Embedded_NN(NN):
    def _build_model(self, input_width, layer_width, layer_count):
        inputs = Input(shape=(input_width,))
        batch0 = BatchNormalization()(inputs)
        drop0 = Dropout(0.2)(batch0)

        dense1 = Dense(layer_width, activation='relu')(drop0)
        drop1 = Dropout(0.2)(dense1)
        
        prev_layer = drop1
        w = layer_width
        for _ in range(layer_count - 1):
            w = int(w/2)
            dense = Dense(w, activation='relu')(prev_layer)
            drop = Dropout(0.2)(dense)
            prev_layer = drop
        
        output = Dense(1, activation='sigmoid')(prev_layer)
        
        model = keras.Model(inputs=[inputs], outputs=output)
        model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
        return model

In [360]:
ee_model = Embedded_NN(input_width, layer_width=100, layer_count=3)
ee_model.train(X_train, Y_train, epochs=100)

Epoch 1/100
20/20 [==============================] - 1s 2ms/step - loss: 0.7049 - accuracy: 0.5686
Epoch 2/100
20/20 [==============================] - 0s 2ms/step - loss: 0.6414 - accuracy: 0.6675
Epoch 3/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5681 - accuracy: 0.7514
Epoch 4/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4932 - accuracy: 0.7897
Epoch 5/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4911 - accuracy: 0.8007
Epoch 6/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4887 - accuracy: 0.7728
Epoch 7/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5090 - accuracy: 0.7698
Epoch 8/100
20/20 [==============================] - 0s 2ms/step - loss: 0.5153 - accuracy: 0.7541
Epoch 9/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4610 - accuracy: 0.7904
Epoch 10/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4789 - accuracy: 0.7970
Epoch 11/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4337 - accuracy: 0.7872
Epoch 12/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4790 - accuracy: 0.7869
Epoch 13/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4586 - accuracy: 0.8109
Epoch 14/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4155 - accuracy: 0.8282
Epoch 15/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4585 - accuracy: 0.7958
Epoch 16/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4498 - accuracy: 0.7844
Epoch 17/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4969 - accuracy: 0.7854
Epoch 18/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4518 - accuracy: 0.8103
Epoch 19/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4487 - accuracy: 0.7992
Epoch 20/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4146 - accuracy: 0.8172
Epoch 21/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4388 - accuracy: 0.8099
Epoch 22/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4145 - accuracy: 0.8002
Epoch 23/100
20/20 [==============================] - 0s 3ms/step - loss: 0.4028 - accuracy: 0.8350
Epoch 24/100
20/20 [==============================] - 0s 3ms/step - loss: 0.4024 - accuracy: 0.8368
Epoch 25/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4077 - accuracy: 0.8054
Epoch 26/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.8233
Epoch 27/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8357
Epoch 28/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4128 - accuracy: 0.8100
Epoch 29/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3991 - accuracy: 0.8362
Epoch 30/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4302 - accuracy: 0.7990
Epoch 31/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4103 - accuracy: 0.8306
Epoch 32/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4167 - accuracy: 0.8088
Epoch 33/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3813 - accuracy: 0.8404
Epoch 34/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4087 - accuracy: 0.8356
Epoch 35/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4118 - accuracy: 0.8251
Epoch 36/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4119 - accuracy: 0.8210
Epoch 37/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4497 - accuracy: 0.8198
Epoch 38/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4036 - accuracy: 0.8172
Epoch 39/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4416 - accuracy: 0.8070
Epoch 40/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4401 - accuracy: 0.8050
Epoch 41/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4086 - accuracy: 0.8377
Epoch 42/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3655 - accuracy: 0.8376
Epoch 43/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4058 - accuracy: 0.8205
Epoch 44/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8141
Epoch 45/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3666 - accuracy: 0.8459
Epoch 46/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8469
Epoch 47/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3889 - accuracy: 0.8366
Epoch 48/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.8565
Epoch 49/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4317 - accuracy: 0.8188
Epoch 50/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8394
Epoch 51/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8389
Epoch 52/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3982 - accuracy: 0.8380
Epoch 53/100
20/20 [==============================] - ETA: 0s - loss: 0.3891 - accuracy: 0.75 - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8142
Epoch 54/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3785 - accuracy: 0.8303
Epoch 55/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.7933
Epoch 56/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4169 - accuracy: 0.8291
Epoch 57/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.8394
Epoch 58/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8238
Epoch 59/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4204 - accuracy: 0.8331
Epoch 60/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4047 - accuracy: 0.8202
Epoch 61/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3909 - accuracy: 0.8291
Epoch 62/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.8342
Epoch 63/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4289 - accuracy: 0.8055
Epoch 64/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3754 - accuracy: 0.8324
Epoch 65/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4018 - accuracy: 0.8445
Epoch 66/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3824 - accuracy: 0.8431
Epoch 67/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8177
Epoch 68/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3835 - accuracy: 0.8322
Epoch 69/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4148 - accuracy: 0.8091
Epoch 70/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3518 - accuracy: 0.8469
Epoch 71/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4418 - accuracy: 0.8298
Epoch 72/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3848 - accuracy: 0.8243
Epoch 73/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4402 - accuracy: 0.8084
Epoch 74/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8341
Epoch 75/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4111 - accuracy: 0.7997
Epoch 76/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3700 - accuracy: 0.8416
Epoch 77/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4059 - accuracy: 0.8292
Epoch 78/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3896 - accuracy: 0.8271
Epoch 79/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3731 - accuracy: 0.8459
Epoch 80/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4152 - accuracy: 0.8287
Epoch 81/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8232
Epoch 82/100

20/20 [==============================] - 0s 2ms/step - loss: 0.3877 - accuracy: 0.8448
Epoch 83/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3724 - accuracy: 0.8407
Epoch 84/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4017 - accuracy: 0.8260
Epoch 85/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3688 - accuracy: 0.8371
Epoch 86/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4069 - accuracy: 0.8152
Epoch 87/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4019 - accuracy: 0.8178
Epoch 88/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8349
Epoch 89/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3870 - accuracy: 0.8427
Epoch 90/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3966 - accuracy: 0.8241
Epoch 91/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3484 - accuracy: 0.8420
Epoch 92/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8501
Epoch 93/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3876 - accuracy: 0.8249
Epoch 94/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4271 - accuracy: 0.8269
Epoch 95/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.8088
Epoch 96/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8392
Epoch 97/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3666 - accuracy: 0.8299
Epoch 98/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3882 - accuracy: 0.8356
Epoch 99/100
20/20 [==============================] - 0s 2ms/step - loss: 0.4200 - accuracy: 0.8207
Epoch 100/100
20/20 [==============================] - 0s 2ms/step - loss: 0.3739 - accuracy: 0.8276

In [361]:
ee_model.accuracy(X_test, Y_test)

9/9 [==============================] - 0s 1ms/step - loss: 0.5722 - accuracy: 0.8358

0.8358209133148193